/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json
composer.lock
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# macOS
.DS_Store
*/.DS_Store

# Laravel cache & storage
/bootstrap/cache/*.php
/storage/framework/*
/storage/logs/*
/public/vendor/livewire/
/public/uploads/